

<ifModule mod_rewrite.c>

  RewriteEngine On

  RewriteRule ^home/?$ /index.php [NC,L]
  RewriteRule ^cadastro/?$ /view/paginas/cadastro.php [NC,L]
  RewriteRule ^teste/?$ /view/paginas/teste.php [NC,L]
</ifModule>
